@media (max-width: 1200px) {
  .banner {
    height: 189px;
    background: url("../images/mobile/office/office_banner_mobile.png") no-repeat;
    background-size: cover;
  }
  .banner .titleBox {
    font-size: 14px;
  }
  .banner .titleBox h2 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  section.section01 .titleBox {
    font-size: 14px;
    margin-bottom: 45px;
  }
  section.section01 .titleBox h2 {
    font-size: 17px;
    margin-top: 15px;
  }
  section.section01 .content01 {
    padding: 68px 120px;
  }
  section.section01 .content01 img {
    width: 100%;
  }
  section.section01 .content02 {
    padding: 68px 120px;
  }
  section.section01 .content02 .titleBox {
    margin-bottom: 25px;
  }
  section.section01 .content02 img {
    width: 100%;
  }
  section.section03 {
    padding: 80px 0 115px;
  }
  section.section03 .inner {
    width: 100%;
    padding: 0 20px;
  }
  section.section03 .inner .titleBox {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 1.6em;
  }
  section.section03 .inner .titleBox h2 {
    font-size: 17px;
  }
  section.section03 .inner .titleBox br {
    display: inline;
  }
  section.section03 .inner .serviceIconList ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 16px 0;
  }
  section.section03 .inner .serviceIconList ul li {
    font-size: 12px;
    width: 50%;
    margin-bottom: 20px;
  }
  section.section03 .inner .serviceIconList ul li p {
    margin-top: 10px;
  }
  section.section03 .inner .serviceIconList ul li img:nth-child(1) {
    display: none;
  }
  section.section03 .inner .serviceIconList ul li img:nth-child(2) {
    display: inline;
  }
  section.section03 .inner .serviceList ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.section03 .inner .serviceList ul li {
    width: 48%;
    font-size: 12px;
    margin-bottom: 15px;
  }
  section.section03 .inner .serviceList ul li .imgBox {
    width: 100%;
    height: 95px;
    margin-bottom: 10px;
  }
  section.section03 .inner .serviceList ul li .imgBox img {
    width: 100%;
    height: auto;
  }
  .mobileBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 217px;
    background: url("../images/mobile/office/office_btns_banner.png") no-repeat center;
    background-size: cover;
  }
  .mobileBtns ul li:nth-child(1) {
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  section.section01 .content01 {
    padding: 68px 20px;
  }
  section.section01 .content02 {
    padding: 68px 20px;
  }
  section.section02 .content01 .inner {
    width: 100%;
    padding: 75px 20px 90px;
  }
  section.section02 .content01 .inner .officeList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.section02 .content01 .inner .officeList ul:nth-child(1) {
    margin-bottom: 24px;
  }
  section.section02 .content01 .inner .officeList ul h3 {
    font-size: 14px;
  }
  section.section02 .content01 .inner .officeList ul li .officeImg {
    width: 100%;
    overflow: hidden;
  }
  section.section02 .content01 .inner .officeList ul li .officePrice h4 {
    font-size: 14px;
  }
  section.section02 .content01 .inner .officeList ul li .officePrice table {
    width: 150px;
  }
  section.section02 .content01 .inner .officeList ul li .officePrice table tr {
    font-size: 12px;
  }
  section.section02 .content01 .inner .officeList ul li .officePrice table tr.discount .discountPrice {
    font-size: 14px;
  }
  section.section02 .content01 .inner .officeList ul li .officePrice table tr.discount .discountPrice span {
    font-size: 6px;
  }
  section.section02 .content02 {
    padding: 80px 0 76px;
  }
  section.section02 .content02 .inner {
    width: 100%;
    padding: 0 20px;
  }
  section.section02 .content02 .inner .officeList .imgList li {
    width: 50%;
    height: 93px;
  }
  section.section02 .content02 .inner .officeList .imgList li img {
    height: 100%;
  }
  section.section02 .content02 .inner .priceInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px rgba(0, 0, 0, 0.06);
  }
  section.section02 .content02 .inner .priceInfo .descBox {
    border-right: none;
  }
  section.section02 .content02 .inner .priceInfo .descBox h3 {
    font-size: 14px;
  }
  section.section02 .content02 .inner .priceInfo .descBox p {
    font-size: 12px;
  }
  section.section02 .content02 .inner .priceInfo .priceBox .priceTable:nth-child(1) {
    border-bottom: none;
  }
  section.section02 .content02 .inner .priceInfo .priceBox h4 {
    font-size: 14px;
    width: 40%;
  }
  section.section02 .content02 .inner .priceInfo .priceBox table tr {
    font-size: 12px;
  }
  section.section02 .content02 .inner .priceInfo .priceBox table tr td:nth-child(1) {
    padding-right: 15px;
  }
  section.section02 .content02 .inner .priceInfo .priceBox table tr td:nth-child(2) b {
    font-size: 14px;
  }
  section.section02 .content02 .inner .priceInfo .priceBox table tr td:nth-child(2) span {
    font-size: 6px;
  }
  section.section02 .content02 .inner .priceInfo .fixedDeskInfo {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
  }
  section.section02 .content02 .inner .priceInfo .freeDeskInfo {
    width: 100%;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px rgba(0, 0, 0, 0.06);
  }
  section.section02 .content02 .inner .priceInfo .freeDeskInfo .priceBox {
    border-right: none;
  }
  section.section02 .titleBox h2 {
    font-size: 17px;
  }
  section.section02 .titleBox span {
    font-size: 14px;
  }
  section.section02 .titleBox .tagList li {
    font-size: 14px;
    width: 63px;
    height: 30px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=office_response.css.map */