@media (max-width: 1200px) {
  .section.section01 .banner01 {
    height: 190px;
    background: url("../images/mobile/review/section01_banner_bg.png") no-repeat center;
    background-size: cover;
  }
  .section.section01 .banner01 .inner .contentText {
    width: 280px;
    line-height: 1.1em;
  }
  .section.section01 .banner01 .inner .contentText p {
    font-size: 12px;
    font-weight: 500;
  }
  .section.section01 .banner01 .inner .contentText .emphasisText {
    margin-top: 15px;
  }
  .section.section01 .content01 .inner {
    height: 590px;
  }
  .section.section01 .content01 .inner .contentText {
    width: 250px;
    word-break: keep-all;
    margin-top: 40px;
    font-size: 14px;
  }
  .section.section01 .content01 .inner .contentText p:nth-child(1) {
    margin-bottom: 20px;
  }
  .section.section01 .content01 .inner .contentImg {
    margin-top: 27px;
  }
  .section.section01 .content01 .inner .contentImg img {
    width: 70%;
  }
  .section.section01 .content01 .inner .cardGif img {
    width: 197px;
  }
  .section.section01 .content01 .inner .background {
    width: 100%;
    margin-top: 0;
    background: url("../images/mobile/review/section01_content01_bg.png") no-repeat center bottom;
    background-size: contain;
  }
  .section.section01 .content02 .inner {
    margin: 61px 0 68px;
    padding: 0 20px;
  }
  .section.section01 .content02 .inner .contentTitle {
    text-align: center;
  }
  .section.section01 .content02 .inner .contentTitle img {
    margin-bottom: 13px;
  }
  .section.section01 .content02 .inner .contentTitle h2 {
    float: none;
    font-size: 17px;
  }
  .section.section01 .content02 .inner .contentTitle img {
    float: none;
  }
  .section.section01 .content02 .inner .contentList {
    margin-top: 26px;
  }
  .section.section01 .content02 .inner .contentList li {
    padding: 26px 18px 36px;
    height: 100%;
  }
  .section.section01 .content02 .inner .contentList li:nth-child(2n) .contentImg {
    float: none;
    text-align: left;
  }
  .section.section01 .content02 .inner .contentList li .contentImg {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .section.section01 .content02 .inner .contentList li .contentImg h3 {
    font-size: 16px;
  }
  .section.section01 .content02 .inner .contentList li .contentImg h3 br {
    display: none;
  }
  .section.section01 .content02 .inner .contentList li .contentImg img {
    position: static;
    margin-right: 10px;
  }
  .section.section01 .content02 .inner .contentList li .contentImg img:nth-child(1) {
    display: inline;
  }
  .section.section01 .content02 .inner .contentList li .contentImg img:nth-child(3) {
    display: none;
  }
  .section.section01 .content02 .inner .contentList li .contentText {
    width: 100%;
    float: none;
    font-size: 13px;
  }
  .section.section01 .content03 {
    padding: 79px 0 67px;
  }
  .section.section01 .content03 .inner {
    padding: 0 20px;
  }
  .section.section01 .content03 .inner .contentTitle {
    text-align: center;
  }
  .section.section01 .content03 .inner .contentTitle img {
    float: none;
    margin-bottom: 13px;
  }
  .section.section01 .content03 .inner .contentTitle h2 {
    float: none;
    font-size: 17px;
  }
  .section.section01 .content03 .inner .contentList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section.section01 .content03 .inner .contentList li {
    width: 100%;
    height: 100%;
    padding: 18px 18px 28px;
  }
  .section.section01 .content03 .inner .contentList li:nth-child(1) {
    margin-bottom: 34px;
  }
  .section.section01 .content03 .inner .contentList li h3 {
    font-size: 16px;
  }
  .section.section02 .banner02 {
    height: 196px;
    background: url("../images/mobile/review/section02_banner02_bg_mobile.png") no-repeat center;
    background-size: cover;
    font-size: 14px;
  }
  .section.section02 .content01 {
    padding: 47px 0 69px;
  }
  .section.section02 .content01 .inner {
    padding: 0 20px;
  }
  .section.section02 .content01 .inner .contentTop .contentText {
    text-align: center;
    float: none;
    width: 100%;
  }
  .section.section02 .content01 .inner .contentTop .contentText h2 {
    line-height: 1.2em;
  }
  .section.section02 .content01 .inner .contentTop .contentText h2 b {
    font-size: 17px;
  }
  .section.section02 .content01 .inner .contentTop .contentText h2 span {
    font-size: 14px;
  }
  .section.section02 .content01 .inner .contentTop .contentText h2 span::before {
    top: -15px;
    left: -15px;
  }
  .section.section02 .content01 .inner .contentTop .contentText p {
    font-size: 14px;
  }
  .section.section02 .content01 .inner .contentBottom .contentListLeft {
    height: 100%;
    display: block;
    float: none;
    width: 100%;
  }
  .section.section02 .content01 .inner .contentBottom .contentListLeft li {
    margin-bottom: 11px;
    font-size: 13px;
  }
  .section.section02 .content01 .inner .contentBottom .contentListRight {
    height: 100%;
    width: 100%;
    display: block;
  }
  .section.section02 .content01 .inner .contentBottom .contentListRight li {
    margin-bottom: 11px;
    font-size: 13px;
  }
  .section.section02 .content02 {
    padding: 47px 0 69px;
  }
  .section.section02 .content02 .inner {
    padding: 0 20px;
  }
  .section.section02 .content02 .inner .contentTitle .titleText {
    text-align: center;
    float: none;
    width: 100%;
  }
  .section.section02 .content02 .inner .contentTitle .titleText h2 {
    line-height: 1.2em;
  }
  .section.section02 .content02 .inner .contentTitle .titleText h2 b {
    font-size: 17px;
  }
  .section.section02 .content02 .inner .contentTitle .titleText h2 span {
    font-size: 14px;
  }
  .section.section02 .content02 .inner .contentTitle .titleText h2 span::before {
    top: -15px;
    left: -15px;
  }
  .section.section02 .content02 .inner .contentTitle .titleText p {
    margin-top: 30px;
    font-size: 14px;
    word-break: keep-all;
  }
  .section.section02 .content02 .inner .contentTitle .titleImg {
    display: none;
  }
  .section.section02 .content02 .inner .contentBottom .contentListLeft {
    display: block;
    float: none;
    height: 100%;
    width: 100%;
  }
  .section.section02 .content02 .inner .contentBottom .contentListLeft li {
    margin-bottom: 11px;
  }
  .section.section02 .content02 .inner .contentBottom .contentListRight {
    height: 100%;
    width: 100%;
    display: block;
  }
  .section.section02 .content02 .inner .contentBottom .contentListRight li {
    margin-bottom: 11px;
  }
  .section.section02 .content03 {
    padding: 70px 20px 75px;
  }
  .section.section02 .content03 .contentTitle h2 {
    font-size: 17px;
  }
  .section.section02 .content03 .contentTitle h2::after {
    display: none;
  }
  .section.section02 .content03 .contentTitle h2 p {
    top: -20px;
    left: 140px;
  }
  .section.section02 .content03 .contentTitle h2 p span {
    width: 6px;
    height: 6px;
    margin: 0 3px;
  }
  .section.section02 .content03 .contentTitle img {
    display: inline;
  }
  .section.section02 .content03 .contentList {
    margin-top: 20px;
  }
  .section.section02 .content03 .contentList::after {
    content: url("../images/double_quotes_right_mobile.png");
    position: absolute;
    top: -10px;
    right: 15px;
  }
  .section.section02 .content03 .contentList::before {
    display: none;
  }
  .section.section02 .content03 .contentList li {
    padding: 40px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section.section02 .content03 .contentList li:nth-child(1) {
    margin-bottom: 10px;
  }
  .section.section02 .content03 .contentList li .contentImg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .section.section02 .content03 .contentList li .contentImg h3 br {
    display: none;
  }
  .section.section02 .content03 .contentList li .contentImg .imgBox.mobile {
    display: block;
    margin-right: 10px;
  }
  .section.section02 .content03 .contentList li .contentImg .imgBox.pc {
    display: none;
  }
  .section.section02 .content03 .contentList li .contentImg img:nth-child(3) {
    display: none;
  }
  .section.section02 .content03 .contentList li p {
    font-size: 13px;
  }
  .section.section02 .content03 .emphasisText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 1.6em;
  }
  .section.section02 .content03 .emphasisText br {
    display: inline;
  }
  .section.section02 .banner03 {
    background: url("../images/mobile/review/banner03_bg.png") no-repeat center;
    background-size: cover;
  }
  .section.section02 .banner03 .pcBtn {
    display: none;
  }
  .section.section02 .banner03 .mobileBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section.section02 .banner03 .mobileBtn a:nth-child(1) {
    margin-bottom: 3px;
  }
}
/*# sourceMappingURL=review_response.css.map */