main.mobile {
    display: none;
}
.banner {
    position: relative;
    ul {
        li {
            img {
                width: 100%;
                &:nth-child(2) {
                    display: none
                }
            }
        }
    }
    .pagination {
        position: absolute;
        bottom: 43px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
        .swiper-pagination-bullet {
            margin-left: 25px;
            background-color: transparent;
            border: 1px solid #fff;
            &:nth-child(1) {
                margin-left: 0  ;
            }
            &.swiper-pagination-bullet-active {
                background-color: #fff;
            }
        }
    }
    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 50;
        cursor: pointer;
        &.btnPrev {
            left: 150px;
        }
        &.btnNext {
            right: 150px;
        }
    }
}
.uncontactClass {
    .content01 {
        .inner {
            text-align: center;
            padding: 124px 0 122px;
            .textBox {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 56px;
                p {
                    margin: 0 16px 0 28px;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 1.6em;
                }
            }
        }
    }
    .content02 {
        .inner {
            padding: 86px 0 74px;
            background : url('../images/academy/uncontact_banner_bg.png') no-repeat;
            background-size: cover;
            .mobile {
                display: none;
            }
            p {
                color: #fff;
                text-align: center;
                font-size: 14px;
                line-height: 1.6em;
                &.emphasisText {
                    color: #ffdd00;
                    font-size: 17px;
                    font-weight: 700;
                    margin-bottom: 27px;
                    span {
                        position: relative;
                        &::before {
                            content: url('../images/academy/plus_icon.png');
                            position: absolute;
                            left: -20px;
                            top: -13px;
                        }
                    }
                    b {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 400;
                        border: 1px solid #fff;
                        padding: 5px 10px;
                        &:nth-child(2) {
                            margin-left: 20px;
                        }
                        &:nth-child(3) {
                            margin: 8px;
                        }
                        &:nth-child(4) {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
    .content03 {
        background-color: #f2f2f2;
        text-align: center;
        padding: 65px 0;
        img {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
.titleBox {
    text-align: center;
    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p {
        font: 17px;
        line-height: 1.6em;
    }
}
.section01 {
    .inner {
        padding: 85px 0 170px;
        .titleBox {
            margin-bottom: 83px;
        }
        .imgBox {
            padding-left: 30%;
            &.mobile {
                display: none;
            }
        }
    }
}
.section02 {
    background: url('../images/academy/academy_section02_bg.png') no-repeat;
    background-size: cover;
    // height: 777px;
    padding: 112px 0 137px;
    .inner {
        .titleBox {
            color: #fff;
            margin-bottom: 55px;
            h2 {
                b {
                    color: #ffdd00;
                    position: relative;
                    &:before {
                        content:url('../images/plus_icon.png');
                        position: absolute;
                        top: -13px;
                        left: -16px;
                    }
                }
                br {
                    display: none;
                }
            }
            
        }
        .contentBox {
            width: 954px;
            background-color: #fff;
            margin: 0 auto;
            padding: 49px 35px 46px;
            .contentTop {
                display:flex;
                font-size: 14px;
                line-height: 1.8em;
                padding-bottom: 30px;
                border-bottom: 1px solid #d1d1d1;
                .studentInfo {
                    border: 1px solid #d1d1d1;
                    margin-right: 35px;
                    p {
                        font-size: 14px;
                        text-align: center;
                        line-height: 1.6em;
                        padding: 10px 0;
                        b {
                            font-size: 17px;
                            font-weight: 700;
                        }
                    }
                    .imgBox {
                        border-top: 1px solid #d1d1d1;
                        padding: 28px 22px;
                    }
                }
            }
            .contentBottom {
                padding-top: 30px;
                .studentList {
                    display: flex;
                    justify-content: space-between;
                    li {
                        text-align: center;
                        width: 124px;
                        border: 1px solid #d1d1d1;
                        p {
                            font-size: 14px;
                            text-align: center;
                            line-height: 1.6em;
                            padding: 10px 0;
                            b {
                                font-size: 17px;
                                font-weight: 700;
                            }
                        }
                        .imgBox {
                            padding : 15px 0;
                            border-top: 1px solid #d1d1d1;
                            &.mobile {
                                display: none;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
.mobileClassList {
    padding: 170px 0 180px;
    width: 1344px;
    margin: 0 auto;
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    .classList {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 435px; 
            margin-bottom: 70px;
            margin-right: 17px;
            &:nth-child(3) {
                margin-right: 0;
            }
            &.android {
                h3 {
                    color: #103fcc;
                    background-color: #d2e8fc;                        ;
                }
            }
            &.frontEnd {
                h3 {

                    color: #1d9b6e;
                    background-color: #c0eddc;
                }
            }
            &.backEnd {
                h3 {
                    color: #f0b400;
                    background-color: #fff2ba;
                }
            }
            &.java {
                h3 {
                    color: #fff;
                    background-color: #a079b2;
                }
            }
            &.portfolio {
                h3 {
                    color: #fff;
                    background-color: #8fa5e0;
                }
            }
            h3 {
                font-size: 17px;
                font-weight: 700;
                text-align: center;
                height: 40px;
                line-height: 40px;
                margin-bottom: 8px;
            }
            .imgBox {
                margin-bottom: 8px;
                img {
                    width: 100%;
                }

                a {
                    img {
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
            span {
                font-weight: 700;
                font-size: 16px;
            }
            p {
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.5em;
            }
        }
    }
}
.section03 {
    .inner {
        padding : 130px 0 134px;
        .titleBox {
            margin-bottom: 54px;
        }
        .infoBox {
            text-align: center;
            img {
                &:nth-child(1) {
                    display: inline;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        
        .imgBox {
            width: 1220px;
            margin: 50px auto 0;
            padding-left: 5px;
            position: relative;
            > img {
                width: 100%;
            }
            .classList {
                display:flex;
                width: 875px;
                margin: 0 auto;
                position: absolute;
                top: 228px;
                left: 155px;
                ul {
                    height: 700px;
                    display: flex;
                    flex-direction: column;
                    li {
                        width: 268px;
                        height: 172px;
                        // background-color: red;   
                        &:nth-child(2) {
                            margin-top: 412px;
                        }
                        a {
                            // display: inline-block;
                            // width: 100%;
                            // height: 100%;
                            // overflow: hidden;
                            img {  
                                // visibility:visible;
                                width: 100%;
                            }
                            
                        }
                        &:hover {
                            a {
                                img {
                                    // width: 100%;
                                    opacity: 0;
                                }
                            }
                            
                        }
                    }
                    &:nth-child(1) {
                        li {
                            &:nth-child(2) {
                                margin:113px 0 127px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-left: 83px;
                        margin-right: 85px;
                    }
                }
            }
        }
    }
}


.section04 {
    background-color: #e9ebf1;
    padding:110px 0 158px;
    .inner {
        width: 1344px;
        margin: 0 auto;
        .titleBox {
            h2 {
                margin-bottom: 80px;
            }
        }
        .imgBox {
            img {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
        .contentInner {
            padding: 0 128px 105px;
            background-color: #fff;
            .classList {
                display:flex;
                justify-content: space-between;  
                padding: 37px 0 20px;
                li{
                    width: 48.5%;
                    &:nth-child(2) {
                        .priceBox {
                            background-color: #284097;
                            span {
                                color: #b0bcea;
                            }
                        }
                    }
                    table{
                        width: 100%;
                        border-top: 1px solid #000;
                        border-bottom: 1px solid #d1d1d1;
                        margin-bottom: 20px;
                        tr {
                            height: 40px;
                            line-height: 40px;
                            border-bottom: 1px solid #d1d1d1;
                            .classDay {
                                vertical-align: middle;
                                text-align: center;
                                background-color: #f2f2f2;
                            }
                            .secondCol {
                                width: 90px;
                                padding: 0 10px 0 10px;
                                color: #7f7f7f;
                            }
                        }
                    }
                    .priceBox {
                        height: 71px;
                        line-height: 71px;
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                        background-color: #00b5ac;
                        color: #fff;
                        span {
                            font-size: 14px;
                            font-size: 500;
                            text-decoration: line-through;
                            margin-left: 20px;
                            color: #caeeed;
                        }
                        b {
                            font-size: 22px;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .mobilePriceBox {
                display: none;
            }
            .introduceTeacher {
                padding: 30px 0 50px;
                border-top: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                .teachersProfile {
                    display : flex;
                    padding : 10px 0;
                    .teachersCareer {
                        padding-top: 10px;
                        width: 50%;
                        border-right: 1px solid #d1d1d1;
                        .imgBox {
                            margin-right: 20px;
                            &:nth-child(1) {
                                display: inline;
                            }
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                        display: flex;
                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 15px;
                        }
                        ul {
                            li {
                                font-size: 14px;
                                &:nth-child(1) {
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                    .eduCareer {
                        padding-left: 40px;
                        h5 {
                            font-size: 16px;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }
                        ul {
                            li {
                                font-size: 14px;
                                margin-bottom: 15px;
                                &:nth-child(3) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                
            }
            .curriculum {
                padding: 40px 0 ;
                &.mobile {
                    display: none;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    text-decoration: underline;
                    margin-bottom: 20px;
                }
                .curriculumTable {
                    padding-bottom: 30px;
                    border-bottom: 1px solid #000;
                    h4 {
                        font-weight: 700;
                        background-color: #f2f2f2;
                        padding : 10px 15px;
                        b {
                            color: #dd2326;
                            margin-right: 15px;
                        }
                    }
                    table {
                        margin: 15px;
                        tr {
                            td {
                                font-size: 14px;
                                font-weight: bold;
                                height: 20px;
                                line-height: 20px;
                                &:nth-child(1) {
                                    padding-right: 10px;
                                }
                                &:nth-child(2) {
                                    padding-right: 75px;
                                }
                                &:nth-child(3) {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                    
                }
            }
            .btns {
                display:flex;
                justify-content: center;
                // padding-bottom: 128px;
                a {
                    &:nth-child(1) {
                        margin-right: 15px;
                    }
                }
                &.mobile {
                    display: none;
                }
            }
        }
        
    }
}
.section05 {
    .inner {
        padding : 130px 416px 202px;
        h2 {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 60px;
        }
        ul {
            display : flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                width: 340px;
                margin-bottom: 70px;
                .imgBox {
                    height: 220px;
                    border: 1px solid #d1d1d1;
                }
                .titleBox {
                    padding: 10px 0;
                    text-align: left;
                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        margin: 10px 0 15px;
                    }
                    h4 {
                        font-size: 14px;
                        font-weight: 500;
                        color: #9b9b9b;
                    }
                    p {
                        font-size: 14px;
                        color: #4a4a4a;
                    }
                }
            }
        }
        .btn {
            text-align: center;
        }
    }
}
.onlineClass {
    text-align: center;
    padding: 129px 0 197px;
    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .imgBox {
        margin-bottom: 50px;
    }
    .btnClass {
        cursor: pointer;
    }
}